**Exercise Week 8**

**Author: Ahmad Ichsan Baihaqi**

**Email: ahmadichsanbaihaqi@gmail.com**

#### For both questions, you can import any library.

### Question 1: Only One Extra Curricular Activity

Given a list of students who joined Science Club, Sports Club, and History Club. Your output should be telling us the names of students who only joins 1 club. Your function name will be `one_activity_finder`.

#### Example 1:

- Science = ['Peter', 'Tony', 'Rhodey', 'Bruce']
- Sports = ['Steve, 'Peter', 'Thor', 'Natasha', 'Clint', 'Bruce']
- History = ['Steve', 'Thor', 'Natasha', 'Nick]

As we can see, a few students joined more than 1 club. The only students who only joined 1 club activities are Tony, Rhodey, Clint, and Nick.

`one_activity_finder(Science, Sports, History)` will give the output:

'Tony', 'Rhodey', 'Clint', 'Nick'


#### Example 2:

- Science = ['Bruce', 'Victor', 'Barry', 'Lex', 'Hal']
- Sports = ['Bruce', 'Victor', 'Barry', 'Clark', 'Diana']
- History = ['Diana', 'Arthur', 'Bruce']

The students who only join 1 club are: 'Lex', 'Hal', 'Clark', 'Arthur'

In [29]:
def one_activity_finder(Science, Sports, History):
    my_list = [*Science, *Sports, *History]
    
    set_list = list(set(my_list))

    only_one = []

    for x in set_list:
        find = len([item for item in my_list if x == item])
        
        if (find > 1):
            continue
            
        only_one.append(x)
            
    return only_one

In [30]:
science_data = ['Bruce', 'Victor', 'Barry', 'Lex', 'Hal']
sports_data = ['Bruce', 'Victor', 'Barry', 'Clark', 'Diana']
history_data = ['Diana', 'Arthur', 'Bruce']

one_activity_finder(science_data, sports_data, history_data)

['Lex', 'Arthur', 'Hal', 'Clark']

In [31]:
science_data = ['Peter', 'Tony', 'Rhodey', 'Bruce']
sports_data = ['Steve', 'Peter', 'Thor', 'Natasha', 'Clint', 'Bruce']
history_data = ['Steve', 'Thor', 'Natasha', 'Nick']
           
one_activity_finder(science_data, sports_data, history_data)

['Rhodey', 'Tony', 'Clint', 'Nick']

### Question 2: Three Most Common Letter

Given one string. Print out the 3 most common letter in this order:
- Print the most common letter first
- Then, move to the second most common letter
- If there is a tie, refer to the alphabetical order and choose the first one to appear first

Your function name is `top_letter`

#### Example 1: 

Input = 'ddeeeeffgh'

Output = 'edf' 

This is because 'e' appears the most, then the second place is a 'tie' between 'd' and 'f'. We should look to the alphabetical order, and since 'd' appears before 'f', we print 'd' first then 'f'.


#### Example 2:

Input = 'ddeeeeffgghh'

Output = 'edf'

This is because 'e' appears the most, then the second place is a 'tie' between 'd', 'f', 'g', and 'h'. We should look to the alphabetical order, and since 'd' appears before 'f', we print 'd' then 'f'. 

Wait, why don't we print 'g' and 'h' too? Because we only want TOP 3 LETTERS. This is the challenge. 

#### Example 3:

Input = 'aabbbbcdefg'

Output = 'bac'

This is because 'b' appears the most, then the second most common letter is 'a', and the third place is a tie between 'c', 'd', 'e', 'f', 'g'. We only choose 'c', because its the earliest letter in the alphabet, and since we only want 3 letters, we only can choose 'c'.

In [34]:
def top_letter(input_string):
    my_list = list(input_string)
    
    set_list = list(sorted(set(my_list)))

    counter = []

    for x in set_list:
        find = len([item for item in my_list if x == item])
        
        counter.append(find)
        
    sorted_counter = sorted(counter, reverse=True)
    
    top_three_value = sorted_counter[:3]

    top_three_words = []
    
    for x in top_three_value:
        index = counter.index(x)
        
        top_three_words.append(set_list[index])
        
        counter.pop(index)
        set_list.pop(index)
    
    return ''.join(map(str, top_three_words))

In [35]:
top_letter('ddeeeeffgh')

'edf'

In [36]:
top_letter('ddeeeeffgghh')

'edf'

In [37]:
top_letter('aabbbbcdefg')

'bac'

In [38]:
top_letter('aaadddccbb')

'adb'